spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/testdatabase
    username: postgresuser
    password: securepassword

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        '[globally_quoted_identifiers]': true
        '[format_sql]': true

  servlet:
    multipart:
      enabled: true
      max-file-size: 1000MB
      max-request-size: 1000MB

  mvc:
    async:
      request-timeout: 3600000

  output:
    ansi:
      enabled: always

server:
  port: 8081
  error:
    path: /user/error
    whitelabel:
      enabled: false
